<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .my-form-container {
        border: 1px solid #ccc; /* Add your desired border style */
        border-radius: 10px; /* Add rounded corners */
        padding: 20px; /* Add padding for spacing */
        text-align:center
        /* Other styling properties as needed */
    }
</style>
</head>
<body>
{% for message in messages %}
{{message}}
{% endfor %}
<form method="POST" enctype="multipart/form-data" class="my-form-container">
    <h1>REGISTERATION FORM</h1>
    {% csrf_token %}
<label>username</label>
<input type="text" name="username"></br></br>
<label>email</label>
<input type="email" name="email"></br></br>
<label>password</label>
<input type="password"name="password"></br></br>
<label for="">confirmpassword</label>
<input type="password" name="confirmpassword"></br></br>
    <label>FirstName</label>
<input type="text" name="first_name"></br></br>
        <label>LastName</label>
<input type="text" name="last_name"></br></br>
 <button type="submit" class="btn btn-primary">submit</button>

    </form>


</body>
</html>

